@{
    ViewBag.Title = "Tutorial";
}

<h2>@Html.ActionLink("Home page", "index", "home")</h2>

<h3>1. Why should I use EZYD?</h3>
<dd>
    EZYD allows you to account with your friends in easiest possible way. There won't be any more misunderstandings and miscalculations. You won't forget about money people owe you any more!
</dd>

<h3>2. Important things:</h3>
<h4>a) Friendlist:</h4>
<dd>
    <li>EZYD friendlist is not your Facebook friendlist. Your EZYD friendlist is empty, when you start using EZYD.</li>
    <li>separate friendlist protects you from having financial connections with people you don't know</li>
    <li>Remember to add only trusted people to your friendlist, because some day they may be your debtors.</li> @* kurwa jak to brzmi //TODO zmienić to *@
</dd>

<h4>b) Transactions system:</h4>
<dd>
    <li>You can add transactions, which contains a lot of people, but accounting will be for you just making 1 or 2 transactions </li>
</dd>
