

<h2>@this.LclRes("You are not logged")</h2>

<h4>
    @this.LclRes("Log in using facebook") <br /> 
    @this.LclRes("If you can't see this frame") <a href="http://apps.facebook.com/ezyd_app/">@this.LclRes("home page")</a>
</h4>
